<div class="container mb-3">
    <h1 class="align-text center">Detail Employee</h1>
    <div class="row mt-2" style="background-color: white;">
        <div class="col-2">
            <img src="{{employee.imageUrl}}" class="card-img-top" style="width: 180px; height: 180px; margin: 10px;" src="..." alt="Card image cap">
        </div>
        <div class="col-10">
            <div class="card-body ml-3" style="padding: 0px;">
                <h5 class="card-title"></h5>
                <p class="card-text"><b>Name: </b>{{employee.name}}</p>
                <p class="card-text"><b>Age: </b>{{employee.age}}</p>
                <p class="card-text"><b>Email: </b>{{employee.email}}</p>
                <div *ngIf="employee?.status == true">
                  <p class="card-text"><b>Status: </b>Active</p>
                </div>    
                <div *ngIf="employee?.status == false">
                  <p class="card-text"><b>Status: </b>Inactive</p>
               </div>
              </div>
        </div>
    </div>
</div>
