<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark mb-3 mt-0">
    <a class="navbar-brand" href="#">Employee Management1</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a routerLink="add-employee" class="nav-item nav-link" href="#">Add Employee</a>
        <!-- <a routerLink="add-employee" class="nav-item nav-link" href="#">View Employee</a> -->
      </div>
    </div>
  </nav>

    <div class="container">
        <div class="row">
            <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
                <div class="card m-b-30">
                    <div class="card-body row">
                        <div class="col-6">
                            <a href=""><img src="{{employee.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
                        </div>
                        <div class="col-6 card-title align-self-center mb-0">
                            <h5>{{employee?.name}}</h5>
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <!-- <li class="list-group-item"><i></i>Email : {{employee?.email}}</li> -->
                        <!-- <li class="list-group-item"><i></i>Age : {{employee?.age}}</li> -->
                        <!-- <li class="list-group-item"><i></i>Status : {{employee?.status}}</li> -->
                        <div *ngIf="employee?.status == true">
                            <li class="list-group-item"><i></i>Status : Active</li>
                        </div>    
                        <div *ngIf="employee?.status == false">
                            <li class="list-group-item"><i></i>Status : Inactive</li>
                        </div>       
                    </ul>
                    <div class="card-body">
                        <div class="float-left btn-group btn-group-sm">
                            <button routerLink="/detail-employee/{{employee?.id}}"class="btn btn-primary">Detail</button>
                           <button routerLink="/update-employee/{{employee?.id}}"class="btn btn-primary ml-1">Edit</button>
                           <button (click)="deleteEmployees(employee?.id)" class="btn btn-danger ml-1">Delete</button>
                           <button (click)="fireEmployee(employee?.id)" class="btn btn-danger ml-1">Toggle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <router-outlet ></router-outlet>