<div class="container mb-3">
    <h1 class="align-text center">Add Employee Form</h1>
    <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
        <div class="form-group">
            <label for="name">Name </label>
            <input type="" required ngModel name="name" #name="ngModel" class="form-control" id="name" placeholder="Enter name">
            <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Name is required</div>
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="" required ngModel name="age" #age="ngModel" class="form-control" id="age" placeholder="Enter Age">
            <div class="alert alert-danger" *ngIf="age.touched && !age.valid">Age is required</div>
          </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" required ngModel name="email" #email="ngModel" class="form-control" id="email" placeholder="Enter email">
          <div class="alert alert-danger" *ngIf="email.touched && !email.valid">Email is required</div>
        </div>
        <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text" required ngModel name="imageUrl" #imageUrl="ngModel" class="form-control" id="imageUrl" placeholder="Image URL">
            <div class="alert alert-danger" *ngIf="imageUrl.touched && !imageUrl.valid">ImageUrl is required</div>
          </div>
        <button type="submit" class="btn btn-primary" [disabled]="!addForm.valid">Submit</button>
      </form>
</div>