<div class="container mb-3">
    <h1 class="align-text center">Update Employee Form</h1>
    <form #updateForm="ngForm" (ngSubmit)="onUpdateEmployee(updateForm)">
        <div class="form-group">
            <label for="name">Name </label>
            <input type=""  name="name" class="form-control" id="name" placeholder="Enter name" value="{{employee?.name}}" [(ngModel)]="updateForm.name">
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type=""   name="age" class="form-control" id="age" placeholder="Enter Age" value="{{employee?.age}}" [(ngModel)]="updateForm.age" >
          </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email"  name="email" class="form-control" id="email" placeholder="Enter email" value="{{employee?.email}}" [(ngModel)]="updateForm.email" >
        </div>
        <div class="form-group">
            <label for="phone">Image URL</label>
            <input type="text"  name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" value="{{employee?.imageUrl}}" [(ngModel)]="updateForm.imageUrl">
         </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>